<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>COOL-AMIND 一个很酷的后台权限管理系统</title>
	<meta name="keywords" content="cool-admin，后台管理系统，vue，element-ui，nodejs" />
	<meta name="description" content="element-ui、egg.js、midway.js、mysql、redis、node.js、前后端分离、权限管理、快速开发， COOL-AMIND 一个很酷的后台权限管理系统" />
	<link rel="stylesheet" href="css/welcome.css">

<body>
<div class="reveal">{{text}}</div>
<script src="js/welcome.js"></script>
</body>

</html>
