<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>COOL-AMIND 一个很酷的后台权限管理系统</title>
	<meta name="keywords" content="cool-admin，后台管理系统，vue，element-ui，nodejs" />
	<meta name="description" content="element-ui、midway.js、mysql、redis、node.js、前后端分离、权限管理、快速开发， COOL-AMIND 一个很酷的后台权限管理系统" />
	<link rel="stylesheet" href="public/css/welcome.css">
    <link rel="shortcut icon" href="public/favicon.ico" type="image/x-icon" />

<body>
<div class="reveal"><%= text %></div>

<!-- 添加底部说明 -->
<div class="footer-bar">
	<span>提示：系统为前后端分离模式，前端仓库地址</span>
	<a class ="link" target="_blank" href="https://github.com/cool-team-official/cool-admin-vue">
		https://github.com/cool-team-official/cool-admin-vue
	</a>
</div>

<script src="public/js/welcome.js"></script>
</body>

</html>
